.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-under-text::after {
  content: "";
  display: block;
  height: 4px; /* Border thickness */
  background-color: #EA6D18; /* Border color */
  margin-top: 4px; /* Space between text and border */
  width: 100%; /* Adjusts to the width of the text */
}


/* CustomPagination.css */

.pagination {
  display: flex;
  justify-content: flex-end; /* Align pagination to the right */
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 20px 0; /* Add some top and bottom space */
}

.page-item {
  margin: 0 2px; /* Reduce the space between pagination items */
}

.page-link {
  display: inline-block;
  padding: 4px 4px;
  text-decoration: none;
  color: black; /* Default text color */
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  /* Remove border */
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active .page-link {
  color: #EA6D18; /* Highlight current page */
}

.disabled .page-link {
  color: #ccc; /* Color for disabled buttons */
  cursor: not-allowed;
}

.page-item .page-link {
  border: none; /* Remove border */
}

.table-container {
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  width: 100%; /* Ensure container takes full width */
}

table {
  width: 100%; /* Ensure table spans full width of the container */
  border-collapse: collapse; /* Remove extra space between table cells */
  table-layout: fixed; /* Ensures the table maintains a fixed layout */
}

th, td {
  padding: 8px; /* Ensure padding is consistent */
  text-align: left;
  border-bottom: 1px solid #ddd; /* Optional: Add a border for better visibility */
}

.table-container {
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.email-column {
  width: 220px; /* Set a specific width for the email column */
}

/* Adjust widths for other columns if necessary */
.username-column {
  width: 160px;
}
.role-column {
  width: 180px;
}

.address-column{
  width: 180px;
}

.city-column{
 width:180px;
}

.mobile-column{
width: 130px;
}

.action-column{
 width: auto;
}
/* Add more specific column classes as needed */


.segment-width{
  width: 100px;
}

.accountName-width{
  width: 100px;
}

.customerName-width{
  width: 120px;
}

.buildingNo-width{
  width: 120;
}

.location-width{
  width: 220px;
}